Whatsapp & Telegram Chatwoot Flair.json
{
  "name": "Whatsapp & Telegram Chatwoot Flair",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "b389712c-3ccb-409f-aa51-eb88169fbd89",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1968,
        -160
      ],
      "id": "549696cc-5806-41fd-b0af-7206865b6fe7",
      "name": "Webhook",
      "webhookId": "b389712c-3ccb-409f-aa51-eb88169fbd89"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e2a691f5-8852-4d02-965f-ac57d80bb954",
              "leftValue": "={{ $json.body.message_type }}",
              "rightValue": "incoming",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1648,
        -160
      ],
      "id": "98a2be60-58b6-4b37-9052-e0e95a02af81",
      "name": "If"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0174ee0c-77af-4798-822f-46d7e57a355b",
              "leftValue": "={{ $json.body.inbox.id }}",
              "rightValue": "=80279",
              "operator": {
                "type": "dateTime",
                "operation": "equals"
              }
            },
            {
              "id": "773753f0-fc65-4731-b587-929168149b53",
              "leftValue": "={{ $json.body.inbox.id }}",
              "rightValue": 80282,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1472,
        -432
      ],
      "id": "2a41e86b-b14b-4849-b0f4-2a5a418f1398",
      "name": "If1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "868983ff-85b4-43f6-93aa-fa065999e7d0",
              "leftValue": "={{ $('Webhook').item.json.body.content }}",
              "rightValue": "Connect with agent",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "c154be14-3589-4824-9f72-7975658f8f12",
              "leftValue": "={{ $('Webhook').item.json.body.content }}",
              "rightValue": "Connect Agent",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1024,
        -544
      ],
      "id": "44948849-43d6-4bc3-9941-5ae4547c3982",
      "name": "If2"
    },
    {
      "parameters": {
        "jsCode": "// Get Chatwoot webhook body\nconst body = $input.first().json.body;\nconst contactId = body.conversation.contact_inbox.contact_id;\nconst message = body.content?.trim().toLowerCase();\n\n// Use contactId as block key\nconst blockKey = `contact_${contactId}`;\n\n// Persistent global storage\nconst data = $getWorkflowStaticData('global');\nif (!data.blocked) {\n  data.blocked = {};  // initialize once\n}\n\n// Check block status\nif (data.blocked[blockKey]) {\n  const blockedAt = data.blocked[blockKey];\n  const now = Date.now();\n\n  // 10 minutes = 600000 ms\n  if (now - blockedAt < 600000) {\n    // Still within block period → stop automation\n    return [];\n  } else {\n    // Block expired → remove\n    delete data.blocked[blockKey];\n  }\n}\n\n// If user sends \"connect with agent\"\nif (message && message.includes(\"connect with agent\", \"connect agent\")) {\n  data.blocked[blockKey] = Date.now(); // store timestamp\n\n  return [\n    {\n      json: {\n        event: \"message_created\",\n        message_type: \"outgoing\",\n        private: false,\n        content: \"✅ An agent is being assigned, please wait...\"\n      }\n    }\n  ];\n}\n\n// Otherwise → continue automation\nreturn items;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1264,
        -544
      ],
      "id": "c5f390b3-b441-41cd-82f6-4a2f0133587f",
      "name": "Code"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9ea9ac36-abc9-4476-8af4-7c782030f1de",
              "leftValue": "={{ $('Webhook').item.json.body.content }}",
              "rightValue": "Create a new support Complaint logging",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "8baed617-3d82-442e-a5c7-a5d562840f68",
              "leftValue": "={{ $('Webhook').item.json.body.content }}",
              "rightValue": "Create Complaint",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "cb1f3a50-d463-4870-a524-96eb07f04360",
              "leftValue": "={{ $('Webhook').item.json.body.content }}",
              "rightValue": "new Complaint ",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "d6b650bc-516d-45c9-acc2-3457ecb66750",
              "leftValue": "={{ $('Webhook').item.json.body.content }}",
              "rightValue": "Complaint logging",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        32,
        -144
      ],
      "id": "5c66e09a-1652-43f8-b6e0-c5251aa9b748",
      "name": "If3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://app.chatwoot.com/api/v1/accounts/{{ $('Webhook').item.json.body.account.id }}/conversations/{{ $('Webhook').item.json.body.conversation.id }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "9orcowU6bXFhNhAhZnQnsv8J"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "Please use the following link to create your support Complaint :\nhttps://site-enterprise-5718--dev.sandbox.my.site.com/s/case-create?source=Whatsapp"
            },
            {
              "name": "message_type",
              "value": "outgoing"
            },
            {
              "name": "private",
              "value": "false"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        544,
        -320
      ],
      "id": "066d5539-c914-415b-af15-dedcf0812ba0",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a492798e-9f4b-4ecd-bbce-6f432bee1e8b",
              "leftValue": "={{ $('Webhook').item.json.body.conversation.channel }}",
              "rightValue": "Channel::Whatsapp",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        208,
        -272
      ],
      "id": "e524f1d8-d1dd-448c-a183-9f4a5d1c6f6f",
      "name": "If4"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://app.chatwoot.com/api/v1/accounts/{{ $('Webhook').item.json.body.account.id }}/conversations/{{ $('Webhook').item.json.body.conversation.id }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "9orcowU6bXFhNhAhZnQnsv8J"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "Please use the following link to create your support Complaint :\nhttps://site-enterprise-5718--dev.sandbox.my.site.com/s/case-create?source=Telegram"
            },
            {
              "name": "message_type",
              "value": "outgoing"
            },
            {
              "name": "private",
              "value": "false"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        496,
        -160
      ],
      "id": "4296506d-49f5-46eb-a0b0-578e4c9e7bfb",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7fdafb02-250c-44b1-9a7d-9d2cfb478d10",
              "leftValue": "={{ $('Webhook').item.json.body.content }}",
              "rightValue": "status",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        224,
        -32
      ],
      "id": "2d6b1416-4662-4f18-945d-a2b993067922",
      "name": "If5"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://app.chatwoot.com/api/v1/accounts/{{ $('Webhook').item.json.body.account.id }}/conversations/{{ $('Webhook').item.json.body.conversation.id }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "9orcowU6bXFhNhAhZnQnsv8J"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "To check your Complaint status, please provide your Complaint number."
            },
            {
              "name": "message_type",
              "value": "outgoing"
            },
            {
              "name": "private",
              "value": "false"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        768,
        -224
      ],
      "id": "b0d7e62c-27b4-4ffb-9e87-42f2ddca0347",
      "name": "HTTP Request3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f1959f09-8907-49d0-ab1c-6c763c70fcaa",
              "leftValue": "={{ $('Webhook').item.json.body.content }}",
              "rightValue": "00",
              "operator": {
                "type": "string",
                "operation": "startsWith"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        768,
        96
      ],
      "id": "a03b52de-3c1e-4635-ba7d-eee66e7aa99c",
      "name": "If6"
    },
    {
      "parameters": {
        "resource": "search",
        "query": "=SELECT Id, Parent.CaseNumber, CommentBody, Parent.Status, IsPublished FROM CaseComment where Parent.CaseNumber = '{{ $('Webhook').item.json.body.content }}' and IsPublished = true ORDER BY CreatedDate DESC LIMIT 1\n"
      },
      "type": "n8n-nodes-base.salesforce",
      "typeVersion": 1,
      "position": [
        1152,
        64
      ],
      "id": "d8126ee6-121e-48eb-ac78-83b04dff9448",
      "name": "Perform a query",
      "alwaysOutputData": true,
      "credentials": {
        "salesforceOAuth2Api": {
          "id": "ycfwegFNrdVIn1LF",
          "name": "vpilot Dev SandBox"
        }
      }
    },
    {
      "parameters": {
        "resource": "search",
        "query": "=SELECT Id, CaseNumber, Status From Case Where CaseNumber = '{{ $('Webhook').item.json.body.content }}'"
      },
      "type": "n8n-nodes-base.salesforce",
      "typeVersion": 1,
      "position": [
        1552,
        80
      ],
      "id": "fd8b6f81-4e07-463d-999a-e32267bb1e8f",
      "name": "Perform a query2",
      "alwaysOutputData": true,
      "credentials": {
        "salesforceOAuth2Api": {
          "id": "ycfwegFNrdVIn1LF",
          "name": "vpilot Dev SandBox"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "045b06ba-677b-49ed-b93f-21b02058f5d5",
              "leftValue": "={{ $json.Id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1760,
        80
      ],
      "id": "e82cff87-b261-4141-b2e6-1dee470fd68d",
      "name": "If7"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9faf246c-b4e6-4d80-8b0d-90869514c95b",
              "leftValue": "={{ $json.Id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1344,
        -16
      ],
      "id": "d10e82df-0538-4cd2-bd78-a652da919b79",
      "name": "If8"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://app.chatwoot.com/api/v1/accounts/{{ $('Webhook').item.json.body.account.id }}/conversations/{{ $('Webhook').item.json.body.conversation.id }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "9orcowU6bXFhNhAhZnQnsv8J"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "=Here's the current status of your Complaint #{{ $('Perform a query').item.json.Parent.CaseNumber }}\nStatus: {{ $('Perform a query').item.json.Parent.Status }} \nComments: {{ $('Perform a query').item.json.CommentBody }}"
            },
            {
              "name": "message_type",
              "value": "outgoing"
            },
            {
              "name": "private",
              "value": "false"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1568,
        -128
      ],
      "id": "e592ec85-ab0a-4f03-9fb1-bff579d68738",
      "name": "HTTP Request4"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://app.chatwoot.com/api/v1/accounts/{{ $('Webhook').item.json.body.account.id }}/conversations/{{ $('Webhook').item.json.body.conversation.id }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "9orcowU6bXFhNhAhZnQnsv8J"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "Please type if you need assistance with anything else?\n1. Yes\n2. No"
            },
            {
              "name": "message_type",
              "value": "outgoing"
            },
            {
              "name": "private",
              "value": "false"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1808,
        -160
      ],
      "id": "d4f11385-7b2f-4c21-b280-c4ecf070a924",
      "name": "HTTP Request5"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://app.chatwoot.com/api/v1/accounts/{{ $('Webhook').item.json.body.account.id }}/conversations/{{ $('Webhook').item.json.body.conversation.id }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "9orcowU6bXFhNhAhZnQnsv8J"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "=Here's the current status of your case #{{ $('Perform a query2').item.json.CaseNumber }}\nStatus:{{ $('Perform a query2').item.json.Status }} "
            },
            {
              "name": "message_type",
              "value": "outgoing"
            },
            {
              "name": "private",
              "value": "false"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1984,
        -48
      ],
      "id": "912dc423-f9d7-4db0-997b-d578a545f1b4",
      "name": "HTTP Request6"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://app.chatwoot.com/api/v1/accounts/{{ $('Webhook').item.json.body.account.id }}/conversations/{{ $('Webhook').item.json.body.conversation.id }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "9orcowU6bXFhNhAhZnQnsv8J"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "Please type if you need assistance with anything else?\n1. Yes\n2. No"
            },
            {
              "name": "message_type",
              "value": "outgoing"
            },
            {
              "name": "private",
              "value": "false"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2288,
        -48
      ],
      "id": "fce11b81-06f4-4a17-9b0b-0ea318d9bd52",
      "name": "HTTP Request7"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://app.chatwoot.com/api/v1/accounts/{{ $('Webhook').item.json.body.account.id }}/conversations/{{ $('Webhook').item.json.body.conversation.id }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "9orcowU6bXFhNhAhZnQnsv8J"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "I apologize, but I'm unable to locate a case with that number in our system. Please verify the case number and provide it again."
            },
            {
              "name": "message_type",
              "value": "outgoing"
            },
            {
              "name": "private",
              "value": "false"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1984,
        96
      ],
      "id": "d51b5c90-aee3-444d-bf69-efbff6834c93",
      "name": "HTTP Request8"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c98e113c-26c4-4e57-a14a-8c37c59541ac",
              "leftValue": "={{ $('Webhook').item.json.body.content }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1152,
        400
      ],
      "id": "f98bac12-b246-4cae-be86-96a1becd452e",
      "name": "If9"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "I want only 2 lines"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1456,
        624
      ],
      "id": "3fb3e581-59c0-4d2c-9bf5-3d846288e95b",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1440,
        656
      ],
      "id": "99dbcd8b-6658-442d-996f-b03732a33c8f",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "CTpuMar1aJ7Ks0h9",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://aihub.vcollabetiq.com/api/v1/prediction/307fa029-0da3-4197-8dbf-e9b6c0212075",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"question\": \"{{ $('Webhook').item.json.body.content }}?\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1392,
        352
      ],
      "id": "10115864-95fc-40d5-b5f9-21ecfdecee17",
      "name": "HTTP Request9"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://app.chatwoot.com/api/v1/accounts/{{ $('Webhook').item.json.body.account.id }}/conversations/{{ $('Webhook').item.json.body.conversation.id }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "9orcowU6bXFhNhAhZnQnsv8J"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "={{ $json.text }}"
            },
            {
              "name": "message_type",
              "value": "outgoing"
            },
            {
              "name": "private",
              "value": "false"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1632,
        336
      ],
      "id": "6f7a9bc5-c1b8-477c-b529-6f3b807b5012",
      "name": "HTTP Request11"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://app.chatwoot.com/api/v1/accounts/{{ $('Webhook').item.json.body.account.id }}/conversations/{{ $('Webhook').item.json.body.conversation.id }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "9orcowU6bXFhNhAhZnQnsv8J"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "Please type anyone of the following options:\n1. Complaint logging\n2. Parts & Warranty Queries\n3. Check complaint status\n4. Book Appointment\n5. Connect with agent"
            },
            {
              "name": "message_type",
              "value": "outgoing"
            },
            {
              "name": "private",
              "value": "false"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1952,
        272
      ],
      "id": "f742fca7-b320-4c13-a9c5-ddd241c25090",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c50e4e4e-2253-404a-806d-41084d3770cb",
              "leftValue": "={{ $('Webhook').item.json.body.content }}",
              "rightValue": "Yes",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        976,
        256
      ],
      "id": "dd10f414-75e5-4fe9-9791-56c47f4202b0",
      "name": "If10"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "61b2d858-d21f-4d61-af00-9e3392d966b9",
              "leftValue": "={{ $('Webhook').item.json.body.content }}",
              "rightValue": "Parts & Warranty Queries",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "a44368aa-7033-405c-9916-ca8674d83a74",
              "leftValue": "={{ $('Webhook').item.json.body.content }}",
              "rightValue": "Queries",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "9a8d323f-9f84-4ef7-a8e2-74d0007e7825",
              "leftValue": "={{ $('Webhook').item.json.body.content }}",
              "rightValue": "Parts queries",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "8de8593e-10ea-4cc0-b8b6-239b781e57cd",
              "leftValue": "={{ $('Webhook').item.json.body.content }}",
              "rightValue": "Warranty Queries",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -208,
        -176
      ],
      "id": "951ba2e1-9bbc-4a99-8854-fa1a1c79409b",
      "name": "If11"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://app.chatwoot.com/api/v1/accounts/{{ $('Webhook').item.json.body.account.id }}/conversations/{{ $('Webhook').item.json.body.conversation.id }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "9orcowU6bXFhNhAhZnQnsv8J"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "Please provide you queries."
            },
            {
              "name": "message_type",
              "value": "outgoing"
            },
            {
              "name": "private",
              "value": "false"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        32,
        -400
      ],
      "id": "22f0cb5d-37d9-4fff-b844-3499d2a278bc",
      "name": "HTTP Request10"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4e66c334-4a8f-4c43-be13-dce95c03875c",
              "leftValue": "={{ $('Webhook').item.json.body.content }}",
              "rightValue": "No",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -544,
        -416
      ],
      "id": "2879aa72-5a45-4815-8861-0d8d597ec9af",
      "name": "If12"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://app.chatwoot.com/api/v1/accounts/{{ $('Webhook').item.json.body.account.id }}/conversations/{{ $('Webhook').item.json.body.conversation.id }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "9orcowU6bXFhNhAhZnQnsv8J"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "Thanks for contating. Please feel free to reach us."
            },
            {
              "name": "message_type",
              "value": "outgoing"
            },
            {
              "name": "private",
              "value": "false"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -192,
        -480
      ],
      "id": "fffe9433-5225-4f77-858e-d83d9ec1b3c6",
      "name": "HTTP Request12"
    },
    {
      "parameters": {
        "resource": "search",
        "query": "=SELECT Id,Content__c, Chatwoot_Id__c from Chatwoot_Message__c where Chatwoot_Id__c = '{{ $json.body.conversation.messages[0].conversation_id }}' AND Sender_Type__c = 'incoming' AND CreatedDate = TODAY"
      },
      "type": "n8n-nodes-base.salesforce",
      "typeVersion": 1,
      "position": [
        -560,
        -720
      ],
      "id": "95bd246d-1eb2-40af-b1e7-b7f5403a3b15",
      "name": "Perform a query1",
      "alwaysOutputData": true,
      "credentials": {
        "salesforceOAuth2Api": {
          "id": "iBeTo5xoyYOIbopn",
          "name": "vpilotAIOrg"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://95.217.214.7:6006/analyze",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{ $json.allMessages }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        224,
        -736
      ],
      "id": "cabf38b8-ebf4-48af-9802-54c3f0403f8a",
      "name": "HTTP Request13"
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      allMessages: items.map(i => i.json.Content__c).join('\\n')\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -144,
        -736
      ],
      "id": "a0fbbb65-0be1-402c-9f61-5b3ca1682fe2",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://app.chatwoot.com/api/v1/accounts/{{ $items(\"Webhook\").first().json.body.sender.account.id }}\n/contacts/{{ $items(\"Webhook\").first().json.body.conversation.contact_inbox.contact_id }}\n",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "9orcowU6bXFhNhAhZnQnsv8J"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"custom_attributes\": {\n    \"sentiment\": \"positive\",\n    \"emotion\": \"cool\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1520,
        -800
      ],
      "id": "ff20a4ee-4629-46e9-9a88-aa9823e57948",
      "name": "HTTP Request14"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://95.217.214.7:5005/model/parse",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{ $('Code in JavaScript').item.json.allMessages }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        592,
        -736
      ],
      "id": "27f10eda-8cdb-496b-a0ef-1beff053b262",
      "name": "HTTP Request15"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://app.chatwoot.com/api/v1/accounts/{{ $items(\"Webhook\").first().json.body.sender.account.id }}/\nconversations/{{ $items(\"Webhook\").first().json.body.conversation.messages[0].conversation_id }}/labels\n",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "9orcowU6bXFhNhAhZnQnsv8J"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"labels\": [\"cool\", \"positive\"]\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1280,
        -768
      ],
      "id": "a42efb8c-d200-4ff0-b2ec-5bf1c114fef5",
      "name": "HTTP Request16"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4c26af1f-9ebb-4651-bfc3-2f84fbde2c4a",
              "leftValue": "={{ $('HTTP Request13').item.json.labels[0] }}",
              "rightValue": "POSITIVE",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        992,
        -688
      ],
      "id": "99cecea6-b0df-44a7-a1f8-737a4128c491",
      "name": "If13"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://app.chatwoot.com/api/v1/accounts/{{ $items(\"Webhook\").first().json.body.sender.account.id }}/\nconversations/{{ $items(\"Webhook\").first().json.body.conversation.messages[0].conversation_id }}/labels\n",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "9orcowU6bXFhNhAhZnQnsv8J"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"labels\": [\"angry\", \"negative\"]\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1280,
        -544
      ],
      "id": "7e34d9d7-fc25-4e9a-abb2-e7b6b4d9f511",
      "name": "HTTP Request17"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://app.chatwoot.com/api/v1/accounts/{{ $items(\"Webhook\").first().json.body.sender.account.id }}\n/contacts/{{ $items(\"Webhook\").first().json.body.conversation.contact_inbox.contact_id }}\n",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "9orcowU6bXFhNhAhZnQnsv8J"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"custom_attributes\": {\n    \"sentiment\": \"negative\",\n    \"emotion\": \"angry\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1472,
        -560
      ],
      "id": "3b153511-64fd-40b4-be19-ea320f630ce1",
      "name": "HTTP Request18"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "59ceae0b-c689-46c3-aa1d-9a28de8bf329",
              "leftValue": "={{ $('Webhook').item.json.body.content }}",
              "rightValue": "Book Appointment",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "206e4e15-2188-4601-936d-b555ba0c03cf",
              "leftValue": "={{ $('Webhook').item.json.body.content }}",
              "rightValue": "Appointment",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        432,
        64
      ],
      "id": "6abbdf87-0826-40a1-966e-42e15ffb9920",
      "name": "If14"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://app.chatwoot.com/api/v1/accounts/{{ $('Webhook').item.json.body.account.id }}/conversations/{{ $('Webhook').item.json.body.conversation.id }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "9orcowU6bXFhNhAhZnQnsv8J"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "Please book your appointment sing below link -\nhttps://inspiration-inspiration-4440--dotsolved.sandbox.my.site.com/fslportal/s/scheduler"
            },
            {
              "name": "message_type",
              "value": "outgoing"
            },
            {
              "name": "private",
              "value": "false"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        944,
        -48
      ],
      "id": "ae80b637-5b1f-4e85-9d34-8d08ea5dc95c",
      "name": "HTTP Request19"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "13ee446d-bb78-4290-a8cf-33a5ba305003",
              "leftValue": "={{ $('Webhook').item.json.body.content }}",
              "rightValue": "Approve",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1536,
        -768
      ],
      "id": "3fd324a3-7fde-4ae2-87ca-c11cfdd0e8bf",
      "name": "If15"
    },
    {
      "parameters": {
        "resource": "search",
        "query": "=SELECT Id, Approved__c, Vehicle__r.Vehicle_Owner__r.Phone, CreatedDate FROM Job_Card__c WHERE Vehicle__r.Vehicle_Owner__r.Phone = '{{ $('Webhook').item.json.body.sender.phone_number }}' Order By CreatedDate DESC LIMIT 1"
      },
      "type": "n8n-nodes-base.salesforce",
      "typeVersion": 1,
      "position": [
        -1088,
        -816
      ],
      "id": "60e34788-eb12-448b-b2f2-424927420268",
      "name": "Perform a query3",
      "alwaysOutputData": true,
      "credentials": {
        "salesforceOAuth2Api": {
          "id": "ycfwegFNrdVIn1LF",
          "name": "vpilot Dev SandBox"
        }
      }
    },
    {
      "parameters": {
        "resource": "customObject",
        "operation": "update",
        "customObject": "Job_Card__c",
        "recordId": "={{ $json.Id }}",
        "customFieldsUi": {
          "customFieldsValues": [
            {
              "fieldId": "Approved__c",
              "value": "true"
            }
          ]
        },
        "updateFields": {}
      },
      "type": "n8n-nodes-base.salesforce",
      "typeVersion": 1,
      "position": [
        -816,
        -784
      ],
      "id": "2c1d5357-4ccf-4ce3-b40b-5c22e39155ed",
      "name": "Update a custom object",
      "credentials": {
        "salesforceOAuth2Api": {
          "id": "ycfwegFNrdVIn1LF",
          "name": "vpilot Dev SandBox"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "If15",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Perform a query1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "If4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If4": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If5": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If14",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If6": {
      "main": [
        [
          {
            "node": "Perform a query",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Perform a query": {
      "main": [
        [
          {
            "node": "If8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Perform a query2": {
      "main": [
        [
          {
            "node": "If7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If7": {
      "main": [
        [
          {
            "node": "HTTP Request6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If8": {
      "main": [
        [
          {
            "node": "HTTP Request4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Perform a query2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request4": {
      "main": [
        [
          {
            "node": "HTTP Request5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request6": {
      "main": [
        [
          {
            "node": "HTTP Request7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        []
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request9": {
      "main": [
        [
          {
            "node": "HTTP Request11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If9": {
      "main": [
        [
          {
            "node": "HTTP Request9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request11": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If10": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If11": {
      "main": [
        [
          {
            "node": "HTTP Request10",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If12": {
      "main": [
        [
          {
            "node": "HTTP Request12",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Perform a query1": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request13": {
      "main": [
        [
          {
            "node": "HTTP Request15",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTTP Request13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request15": {
      "main": [
        [
          {
            "node": "If13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request16": {
      "main": [
        [
          {
            "node": "HTTP Request14",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If13": {
      "main": [
        [
          {
            "node": "HTTP Request16",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request17",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request17": {
      "main": [
        [
          {
            "node": "HTTP Request18",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If14": {
      "main": [
        [
          {
            "node": "HTTP Request19",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If15": {
      "main": [
        [
          {
            "node": "Perform a query3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Perform a query3": {
      "main": [
        [
          {
            "node": "Update a custom object",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "83c807f7-2e6b-4b24-9ccf-afc13d1d1ada",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e945dbd638102b546d0ca280533a4e2a6804d7e666c4faefc0a8b98a8849ed5f"
  },
  "id": "NuoYiYsHAQvnI94i",
  "tags": []
}